p.position_fixed{
	position: fixed;
	top: 50px;
	right: 100px;
	color: purple; 
	border: 1px black solid;

}

span {
	background: green;
	color: white;
	position: absolute;
	top: 150px;
	right: 50px;
}

img{
	float: right;
	margin-right: 10px;
	width: 120px;
}

div.float_1{
	width: 120px;
	float: right;
}